<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.roborunners.score">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:name=".ScoreApplication">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SeasonActivity"
            android:label="@string/title_activity_season_chooser"
            android:parentActivityName=".activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.ScoreActivity"
            android:label="@string/title_activity_score"
            android:parentActivityName=".activities.SeasonActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SeasonActivity" />
        </activity>
    </application>

</manifest>
